.MuiPaper-root.job-card {
	max-width: 360px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between !important;
	align-items: center;
	height: 100% !important;
	position: relative !important;
	border-radius: 20px !important;
	padding: 5px !important;
	transition: all 0.3s;
}

.job-card.hovered {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-info-box {
	display: flex;
	gap: 0.5rem;
}

.company-logo {
	width: 25px;
	height: 2.5rem;
	max-width: 100%;
}

.MuiCardContent-root .company-name {
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 1px;
	margin-bottom: 3px;
	color: #8b8b8b;
}

.MuiTypography-root.job-title {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}

.MuiTypography-root.location {
	font-size: 13px;
	font-weight: 500;
	margin-top: 5px;
}

.status-container {
	flex-grow: 1;
	width: 100%;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.button-box {
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.MuiButtonBase-root.custom-btn{
  width: 100%;
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 8px;
  margin: 5px 0;
  text-transform: none;
}

.job-description {
	height: 250px;
	overflow: hidden;
	mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.MuiTypography-root.about-company-tag {
	margin: 0px;
	margin-bottom: 0px;
	font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 500;
}

.MuiBox-root.view-job {
	text-align: center;
	margin-bottom: 0.5rem;
	position: relative;
	top: -20px;
}

.view-job-link {
	color: #4943da;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px !important;
	font-weight: 400 !important;
	-webkit-tap-highlight-color: transparent;
}

.MuiTypography-root.experience-label {
	font-size: 13px;
	margin-top: 10px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 3px;
	color: #8b8b8b;
}

.MuiTypography-root.experience-years {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}