.MuiGrid-container.job-grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
}

.MuiGrid-container.job-grid .MuiGrid-item {
  padding-left: 43px !important;
  padding-top: 40px !important;
}

.job-card {
  margin-top: 8px;
  padding: 8px;
}

.App {
  font-family: __LexendFont_7838d2, __LexendFont_Fallback_7838d2;
}